/* Description ================*/

.photo1 {
    background: url('../assets/armario-cut2.jpg') no-repeat;
    background-size: cover;
    height: 60vh;
    max-width: 80%;
    margin: 30px auto;
}

.subtitle-home h2 {
    font-size: 25px;
    text-align: center;
    margin-top: 40px;
}

.subtitle-home p {
    max-width: 940px;
    font-size: 14px;
    text-align: center;
    padding: 25px;
    margin: 0 auto;
}


/* Products ================*/

.section-models {
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-bottom: 6px;
}

.section-models button {
    background-color: #323232;
    width: 150px;
    padding: 8px;
    color: #fff;
    margin-top: 8px;
    cursor: pointer;
}

.section-models button:hover{
    background-color: #323232db;
}

.buttons-model,
.buttons-model2 {
    display: flex;
    align-items: flex-end;
    margin-top: 100px;
}

.buttons-model2 {
    justify-content: flex-end;
}

.buttons p {
    width: 240px;
    padding: 8px;
}

.buttons.button1 p {
    border-left: 1px solid black;
}

.buttons.button2 p {
    border-right: 1px solid black;
    text-align: right;
}

.buttons.button2 {
    align-items: flex-end;
    margin-right: 15px;
}

/* Carousel ############ */
.react-swipe-container.carousel {
    width: 350px;
}


/* Responsive ############ */
@media (max-width: 746px) {
    .photo1 {
        background-position: center;
    }
}

@media (max-width: 599px) {
    .subtitle-home h2 {
        font-size: 18px;
    }
    
    .buttons-model,
    .buttons-model2 {
        align-items: center;
    }

    .buttons-model {
        flex-direction: column;
    }

    .buttons-model2 {
        flex-direction: column-reverse;
    }
}